*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 3840;
  height: 2160px;
  background: #222;
}

#playground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#monitoring {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 50px;
  left: 50px;
  width: 360px;
  height: 280px;

  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;

  border-radius: 16px;
  background-color: rgb(117 190 218 / 0.87);
  z-index: 111;
}

#monitoring .block-fps{
  position: absolute;
  top:0;
  width:100%;
  height:70px;

  font-size: 4em;
  font-weight: 600;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: green;
}

#monitoring .block-description{
  position: absolute;
  top:70px;
  width:100%;
  height:30px;

  font-size: 1.5rem;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#monitoring .block-calc{
  position: absolute;
  top:100px;
  width:100%;
  height:20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#monitoring .block-army{
  position: absolute;
  top:150px;
  width:100%;
  height:20px;

  font-size: 1.5rem;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  height: 40px;
  border-radius: 8px;

  font-family: system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1;
}

#calc-type {
  background: aquamarine;
  color: darkmagenta;
  font-size: 1.5rem;
  font-weight: 900;
}
#aliens-number {
  color: yellow;
  font-size: 1.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#fps {
  color: yellow;
}

